<!DOCTYPE html>
<html>
<head>
  <title>Motiposters</title>
  <%= stylesheet_link_tag "orders", "products", "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "orders", "products", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">MotiPoster</a>
      </div>
    </div>  
  </div>  
  <div class="container">
    <%= yield %>
  </div> 
</body>
</html>
